# Docker container configuration
config/

# Mac files
.DS_Store

# Environment variables
.env

# Editor configuration
.vscode/

# Terraform files
terraform.tfstate*
.terraform/

# Certificates
certs/

# Traefik dynamic configuration file
dynamic.yml

.ansible